<!DOCTYPE html>
<html>
<head>
    <title>Upload Marksheet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
</head>
<body>
    <h2>Upload Class Marksheet (Only PDFs)</h2>
    <!-- <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="marksheet" accept=".csv,.xlsx,.xls" required>
        <button type="submit">Upload</button>
    </form> -->


    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Choose PDF File:</label>
        <input type="file" name="marksheet" accept=".pdf" required><br><br>
        <label>Enter Threshold Marks:</label>
        <input type="number" name="threshold" step="0.01" required><br><br>
        <input type="submit" value="Upload & Classify">
    </form>
    <nav>
        <!-- Other navigation links -->
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
</body>
</html>
